@{
    Layout = "_Layout";
}

@model ConnorBourbon.Models.Distillery

<h2>Edit</h2>

<h4>Edit this distillery: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.DistilleryId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>