@{
    Layout = "_Layout";
}

@model ConnorBourbon.Models.Brand

<p><strong>NOTE:</strong> Add a distillery before you add anything else!</p>
<p>Go to @Html.ActionLink("this page", "Create", "Distilleries") to add a distillery.</p>

<h4>Add a new Brand</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new {required="required"})
    @Html.LabelFor(model => model.Distillery)
    @Html.DropDownList("DistilleryId")
    <input type="submit" value="Add new brand" />
}
<p>@Html.ActionLink("Show all categories", "Index", null, null, new { @class= "button" })</p>