@{
  Layout = "_Layout";
}

@model ConnorBourbon.Models.Bourbon

<h2>Add a tag</h2>

<h4>Add a tag to this bottle: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.BourbonId)

    @Html.Label("Select tag")
    @Html.DropDownList("TagId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index", null, null, new { @class= "button" })</p>