@{
  Layout = "_Layout";
}

@using ConnorBourbon.Models
@model ConnorBourbon.Models.Bourbon

<h2>Bourbon Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<h3>@Html.DisplayNameFor(model => model.Brand): @Html.DisplayFor(model => model.Brand.Name)<h3>
<h3>@Html.DisplayNameFor(model => model.Quantity): @Html.DisplayFor(model => model.Quantity)<h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This bottle does not have any tags yet!</p>
}
else
{
  <h4>This bottle has the following tags:</h4>
  <ul>
    @foreach(BourbonTag join in Model.JoinEntities)
    {
      <li>Tag: @join.Tag.Title</li>
      @using (Html.BeginForm("DeleteJoin", "Bourbons"))
      {
        @Html.Hidden("joinId", @join.BourbonTagId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Add a Tag", "AddTag", new { id = Model.BourbonId })</p>
<p>@Html.ActionLink("Edit Bottle", "Edit", null, new { id = Model.BourbonId}, new {@class="button"})</p>
<p>@Html.ActionLink("Delete Bottle", "Delete", null, new { id = Model.BourbonId}, new {@class="button"})</p>
<p>@Html.ActionLink("Back to list", "Index")</p>