@{
  Layout = "_Layout";
}

@model ConnorBourbon.Models.Bourbon

<h2>Edit</h2>

<h4>Edit this item: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.BourbonId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Brand)
  @Html.DropDownList("BrandId")

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index", null, null, new { @class= "button" })</p>
