@{
    Layout = "_Layout";
}

@model ConnorBourbon.Models.Juice

<h4>Add a new Juice</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    @Html.LabelFor(model => model.Rules)
    @Html.TextBoxFor(model => model.Rules)

}
<p>@Html.ActionLink("Show all categories", "Index")</p>