@{
    Layout = "_Layout";
}

@model ConnorBourbon.Models.Juice
@using ConnorBourbon.Models

<h2>Juice Details</h2>
<hr/>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<p>@Html.DisplayNameFor(model => model.Rules): @Html.DisplayFor(model => model.Rules)</p>

<p>@Html.ActionLink("Edit Juice", "Edit", new { id = Model.JuiceId})</p>
<p>@Html.ActionLink("Delete Juice", "Delete", new { id = Model.JuiceId})</p>
<p>@Html.ActionLink("Back to list", "Index")</p>